#info-card {
  bottom: 0px;
  right: 0px;
  transition: all 0.5s ease;
}

.card {
  position: absolute;
  max-width: 400px;
  padding: 2rem;
  background-color: var(--popup-bg);
  border-radius: 0.6rem;
  box-sizing: border-box;
  opacity: 0.8;
  z-index: 9;
  height: auto;
  transition: transform 0.5s ease;
}

.card ::selection {
  color: var(--selection-color);
  background: var(--fluor-light)
}

/* Sign in help card */
.signin-help-wrapper {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin-left: 1rem;
  width: 100%;
}

.signin-help-card {
  height: 4.7rem;
  top: 2rem;
  left: 0rem;
  padding: 0.5rem 1.5rem !important;
}

@media (min-width: 800px) {
  .signin-help-card {
    left: 2rem;
  }

  .signin-help-wrapper {
    position: relative;
  }
}

.signin-help-card p,
.signin-help-card span {
  line-height: 1.8rem;
}

.signin-help-card span {
  margin-left: 0.5rem;
}

.card-text {
  font-family: 'Alpina-Tw-Regular';
  font-size: 1.2rem;
  font-feature-settings: 'ss01';
  line-height: 1.5rem;
  color: var(--green600);
}

.card-text-italic {
  font-family: 'Alpina-Tw-Regular-Italic';
}

.card-text-condensed {
  font-family: 'Alpina-Condensed-Medium';
}


/* &#9787; &#1421; */
@media (max-width: 800px) {
  .card {
    width: 100%;
    top: 0;
    right: 0;
  }

  .card-text {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  .signin-help-card {
    top: 3rem;
  }

  .signin-help-card p,
  .signin-help-card span {
    font-size: inherit;
  }
}