/* Feedbacks */
.input-error {
  position: relative;
  text-align: right;
  display: block;
  font-size: 0.7rem;
  margin-top: 0.5rem;
  color: var(--error-msg-green);
  padding: 0 0.1rem;
  height: 0.8rem;
}

#signin-form-wrapper .input-error {
  color: var(--error-msg-violet);
}

.form-feedback {
  display: inline-block;
  transition: all 0.2s ease-in;
}

.error-color {
  color: var(--pink-inactive);
}

.success-color {
  color: var(--pink500);
}

.popup-wrapper{
  top: 0;
  right: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.success-popup-bg  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  height: 60vh;
  background-color: var(--popup-bg);
  box-shadow: 2px 0px 12px var(--green800);
  border-radius: 70px;
  gap: .5rem;
  padding: 2rem;
  opacity: 0.9;
  text-align: center;
}

.success-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.success-msg p {
  font-size: 2.3rem;
  color: var(--green600);
}

.success-msg > i {
  color: var(--pink500);
  font-size: 2rem;
}

@media (max-width: 700px) {
  .success-msg span {
    display: none;
  }
}