.icon {
  color: var(--popup-icons); /*text icon*/
  fill: var(--highlight);
  stroke: var(--highlight);
  font-size: 1.3rem;
  width: 1.3rem;
  height: 1.3rem;
}

/* Eye-icon */
.eye-icon svg path{
  fill: var(--highlight);
  stroke: var(--highlight);
}

.eye-icon {
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 3;
}

.eye-icon svg {
  height: 0.8rem;
}

/* Key icon */
.key-icon {
  position: absolute;
  transform: rotate(35deg);
  fill: var(--pink500);
  stroke: var(--pink500);
  right: 5px;
  bottom: 13px;
  height: 1.8rem !important;
}

/* Lock icon */
.lock-icon {
  fill: var(--highlight) !important;
}

/* Success flower icon */
.success-flower {
  color: var(--pink500);
  top: -0.8rem;
  position: relative;
  display: inline-block;
  margin-top: 1rem;
  font-size: 6rem;
}