/* Magnetic circle */
#circle {
  right: 0;
  bottom: 0;
  transition: transform 0.8s ease-out;
  /* backdrop-filter: blur(5px); */
}

.circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  transition: transform 0.5s ease;

}

.circle-wrapper {
  position: absolute;
  bottom: 4vw;
  right: 4vw;
  width: 100%;
}

.circle-wrapper > * {
  cursor: default;
}

#svg-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 110px;
  transform-origin: 50% 50%;
  transition:all 1s ease;
}

.circle-info-enter:hover {
  text-decoration: none;
  font-size: 0.8rem;
}

.circle-textpath {
  font-family: var(--circle-ff);
  font-size: 0.7rem;
  letter-spacing: 0px;
  z-index: 3;
  fill: var(--green200);
  transition:all 1s ease;
}

.circle-textpath-inactive {
  fill:  var(--green700) !important;
}

.circle-info-text {
  font-size: 0.8rem;
  font-family: var(--a-ff);
  color: var(--fluor);
  transition: all 1s ease ;
  z-index: 4;
}

.circle-info-out {
  cursor: pointer;
}

.circle-info-out:hover {
  font-size: 0.9rem;
  text-decoration: underline;
}

.circle-info-enter {
  display: block;
  cursor: default;
  color: var(--green700);
}

@media (max-width: 800px) {
  .circle-wrapper {
    position: relative;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 3rem 0;
  }

  .circle {
    position: relative;
    width: 65vw;
    height: 65vw;
  }

  #svg-circle{
    width: 65vw;
    height: 65vw;
  }

  .circle-info-text {
    font-size: 1.8rem !important;
  }

  .circle-info-out:hover {
    text-decoration: none;
  }
}