::-moz-selection {
  color: var(--selection-color);
  background: var(--selection-bg);
}

::selection {
  color: var(--selection-color);
  background: var(--selection-bg);
}

* {
  color: var(--font-light);
  margin: 0;
}

body {
  position: relative;
  font-size: 1.1rem;
  background: var(--bg-color);
  overflow: hidden;
  padding: 0 8vw;
  height: 100vh;
  font-family: var(--global-ff);
  margin: 0;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

@media (max-width: 800px) {
  body {
    padding: 4vh 8vw;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  main {
    height: auto !important;
  }
}

main {
  max-width: 600px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

h2 {
  font-size: 3.7rem;
  color: var(--h2-color);
  font-family: var(--h2-ff);
}

a {
  background-color: transparent;
  color: var(--green350);
  font-family: var(--a-ff);
  transition: color 0.6s ease-in-out, bottom 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

a:hover {
  color: var(--green500);
  background-color: var(--green300);
}

i {
  color: var(--green600);
  font-family: 'Alpina-Regular-Italic';
  font-size: 1.2rem;
}

code {
  color: var(--font-dark);
}

fieldset {
  border: none;
  padding: 0;
}

input {
  border: none;
  background: transparent;
  font-family: var(--input-ff);
  font-size: 1.1rem;
}