/* Settings */
@import url("./settings/fonts.css");
@import url("./settings/colors.css");

/* Elements */
@import url("elements.css");

/* Components */
@import url("./components/form.css");
@import url("./components/theme-mode.css");
@import url("./components/magnetic-circle.css");

/* Utils */
@import url("./utilities.css");

/* Animations */
@import url("./animations.css");


.flower {
  font-size: 4rem;
  animation: rotating 10s linear infinite;
}


@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}