@font-face {
  font-family: Laurel-Regular;
  src: url(../assets/fonts/Laurel-Regular.otf);
}

@font-face {
  font-family: Laurel-Medium;
  src: url(../assets/fonts/Laurel-Medium.otf);
}

:root {
  --bg-light: #635f0e;

  --font-light: #e3e9b6;
  --font-dark: #242309;

  --hover-dark: var(--font-dark);
  --hover-light: var(--font-light);

  --selection-dark: #635f0e;
  --selection-light: #282c09;

}

::-moz-selection {
  color: var(--selection-dark);
  background: var(--selection-light);
}

::selection {
  color: var(--selection-dark);
  background: var(--selection-light);
}

* {
  font-family: 'Laurel-Regular', 'Montserrat', serif;
  color: var(--font-light);
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-light);
}

section {
  max-width: 550px;
  padding-left:10vw;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
  font-weight: 100;
}

form {
  transition: all 0.3s ease-out;
  margin-top: 4rem;
}

fieldset {
  margin-bottom: 2rem;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

fieldset p {
  height: 3rem;
  min-width: 45%;
  position: relative;
}

fieldset label {
  position: absolute;
  top: -0.3rem;
  transition-property: top, font-size, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.fieldset-label-focus {
  top: -1.1rem;
  font-size: 0.8rem;
  opacity: 0.5;
}

input {
  font-size: 1.1rem;
}

input[type='text'], 
input[type='email'], 
input[type='password'] {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 2px solid var(--font-light);
  z-index: 2;
  position: relative;
  padding-bottom: 0.3rem;
  transition: background 0.3s ease-in-out;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus {
  outline: none;
}

input[type='password'] {
  background-image: url('path-to-your-eye-icon.svg');  
  background-position: right 10px center;  
  background-repeat: no-repeat;
  padding-right: 30px; 
}

input[type='submit'] {
  width: 40%;
  padding: 0.5rem;
  border: 1px solid var(--font-light);
  background: transparent;
  transition-property: border, background, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

input[type='submit']:hover {
  border: 1px solid var(--font-dark);
  background: var(--hover-light);
  color: var(--font-dark);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--font-light);
  -webkit-box-shadow: 0 0 0px 40rem var(--bg-light) inset;
}

form > p{
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
}

/* Feedbacks */

.input-error {
  display: block;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  color: var(--font-dark);
}

.input-error::before {
  content: '⚠';
  font-size: 1rem;
  margin-right: 5px;
}

#form-feedback {
  color: #D43B69;
}