body {
  font-family: 'Montserrat', sans-serif;
  background: #242426;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  color: #ad91c9;
  gap: 3rem;
}

form {
  width: 70%;
  max-width: 400px;
  background: #3c3a3a;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0px 14px 32px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}

form label {
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 5px;
}

form div{
  margin-bottom: 1rem;
}

form input[type='text'], 
form input[type='email'], 
form input[type='password'] {
  width: 100%;
  border: none;
  background: #f0f0f7;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  transition: background 0.3s ease-in-out;
  background: #565559;

}

form input[type='text']:focus,
form input[type='email']:focus,
form input[type='password']:focus {
  outline: none;
  background: #8c8291;
}

form input[type='submit'] {
  width: 100%;
  border: none;
  background: #391b57;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.3s ease-in-out;
}

form input[type='submit']:hover {
  background: #7d4de8;
}


.error-message {
  /* display: none; */
  display: block;
  background: #D43B69;
  color: #ffffff;
  padding: 5px;
  margin-top: 9px;
  font-size: 0.8rem;
}

.error-message::before {
  content: '⚠';
  margin-right: 5px;
}

#form-feedback {
  color: #D43B69;
}